{% extends "base.html.twig" %}

{% block title %}Modifier une entreprise{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 mb-5 d-flex justify-content-center w-75">
        <div class="border border-primary border-5 rounded-5 ms-5 me-5 py-5 px-4 shadow-lg">
            <h1 class="card-title h1 m-3 border-bottom border-primary border-4 d-inline-block ">Modifier une Entreprise</h1>
            <form method="POST" action="{{ url_for('entreprises.modifier', { 'id': entreprise.id }) }}">
                <div class="row mx-4 my-5">
                    <div class="col-md-6 ">
                        <label class="form-label" for="nom">Nom de l'entreprise</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="nom" name="nom" value="{{ entreprise.nom }}">
                    </div>
                    <div class="col-md-6 ">
                        <label class="form-label" for="phone">Numéro de téléphone</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="phone" name="phone" value="{{ entreprise.telephone }}">
                    </div>
                    <div class="col-md-6 mt-4 ">
                        <label class="form-label" for="date">Date de Création</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="date" id="date" name="date" value="{{ entreprise.dateCreation }}">
                    </div>
                    <div class="col-md-6 mt-4 ">
                        <label class="form-label" for="type">Type d'entreprise</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="type" name="type" value="{{ entreprise.type }}">
                    </div>

                    <div class="col-md-6 mt-4 ">
                        <label class="form-label" for="ville">Ville</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="ville" name="ville" value="{{ entreprise.ville }}">
                    </div>
                    <div class="col-md-6 mt-4 ">
                        <label class="form-label" for="salaries">Salariés</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="salaries" name="salaries" value="{{ entreprise.salaries }}">
                    </div>
                    
                    <div class="col-md-12 mt-4 ">
                        <label class="form-label" for="description">Description de l'entreprise</label>
                        <textarea class="form-control border border-secondary border-3 rounded-3" id="description" name="description"  cols="30" rows="5">{{ entreprise.description }}</textarea>
                    </div>
                    <div class="col-md-12 mt-4 ">
                        <label class="form-label" for="missions">Missions</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="missions" name="missions" value="{{ entreprise.missions }}">
                    </div>
                    <div class="col-md-12 mt-4 ">
                        <label class="form-label" for="domaines">Domaines d'expertise</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="domaines" name="domaines" value="{{ entreprise.domainesExpertise }}">
                    </div>
                    <div class="col-md-12 mt-4 ">
                        <label class="form-label" for="evaluation">Evaluation de l'entreprise</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="text" id="evaluation" name="evaluation" value="{{ entreprise.evaluation }}">
                    </div>
                    <div class="col-md-6 mt-4">
                        <label class="form-label" for="statut">Statut de l'entreprise</label>
                        <select class="form-control border border-secondary border-3 rounded-3" id="statut" name="statut">
                            <option value="Actif" {% if statut == 'Actif' %}selected{% endif %}>Actif</option>
                            <option value="Inactif" {% if statut == 'Inactif' %}selected{% endif %}>Inactif</option>
                        </select>
                    </div>
                    <div class="col-md-12 mt-4 ">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control border border-secondary border-3 rounded-3" type="email" id="email" name="email" placeholder="Entrez l'email">
                    </div>
                    <div class="col-md-12 mt-5 ">
                        <div class="d-flex flex-column flex-md-row gap-3 justify-content-between">
                            <button class="btn btn-primary w-50 btn-lg rounded-5 px-4 flex-fill" type="submit">Modifier l'entreprise</button>
                            <a href="{{ url_for('entreprises') }}" class="btn btn-secondary w-50 btn-lg rounded-5 px-4 flex-fill text-center text-decoration-none">Annuler</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}